<div infinite-scroll='loadMore("details")' infinite-scroll-distance='1'>
	<div data-ng-repeat="f in flightResults | limitTo: scrollLimit.details" set-review-colors="">
		<div class="col-md-6">
			<div class="revcont">
				<div class="review_t row" data-ng-click="selectFlight(f)">
					<div class="col-md-12 flight-review-t">
						{{flightName(f.flight.airline.id, f.flight.number)}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 review-box">

						<div class="row ratetitulo">
							<div class="col-md-6">
								<span class="avg-rating">Calificación general
								<div data-ng-bind-html="getStars(f.rating.overall)"></div>
								</span>
							</div>
							<div class="col-md-6">
								<span class="would-reccomend">
									{{(100* f.wouldRecommendCount / f.totalReviews).toFixed(2)}} % lo recomienda
								</span>
							</div>
						</div>
							<div class="row ratings">
								<div class="col-md-6">
									<ul>
										<li class="ritem"><span class="rcategory">Comfort</span> <span class="rate-num">{{f.rating.comfort.toFixed(2)}}</span></li>
										<li class="ritem"><span class="rcategory">Comida</span> <span class="rate-num">{{f.rating.food.toFixed(2)}}</span></li>
										<li class="ritem"><span class="rcategory">Beneficios de viajero frecuente</span> <span class="rate-num">{{f.rating.mileage_program.toFixed(2)}}</span></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li class="ritem"><span class="rcategory">Amabilidad</span> <span class="rate-num">{{f.rating.friendliness.toFixed(2)}}</span></li>

										<li class="ritem"><span class="rcategory">Puntualidad</span> <span class="rate-num">{{f.rating.punctuality.toFixed(2)}}</span></li>
										<li class="ritem"><span class="rcategory">Relacion precio/calidad</span> <span class="rate-num">{{f.rating.quality_price.toFixed(2)}}</span></li>

									</ul>
								</div>
							</div>
						<div class="row viewmore">
							<div class="col-md-12">
								<a class="see-more-btn" href="#" data-ng-click="selectFlight(f)">Ver reseñas de este vuelo<span class="glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--		<div data-ng-if="$last && (($index % 2) == 0)"><div class="col-md-5"></div></div>-->
	</div>
</div>


