				<!-- <div data-ng-repeat="c in containers"> -->
				  <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
					<div class="row flight-box" data-ng-repeat="c in containers | filter: filterFn | orderBy: '-precio' | limitTo: scrollLimit">
						<div class="col-md-10 flight-info">
						<div data-ng-repeat="t in c.flights">
							<div class="row airports-line-info">
								<div class="col-md-2 ida-vuelta-badge">
									{{t.desc}} <span class="glyphicon glyphicon-arrow-right"></span>
								</div>
								<div class="col-md-10 orig-dest-badges">
									Buenos Aires
									<span class="airport-badge">{{t.flight.departAirport.id}}</span>
									<span class="glyphicon glyphicon-arrow-right"></span>
									<span class="airport-badge">{{t.flight.arrivalAirport.id}}</span>
									Nueva York
								</div>
							</div>
							<div class="row selected-box" id="selected-ida-{{f.fnumber}}">
								<div class="col-md-1 air-img">
									<img src="aircanada.png" alt="Logo aerolinea" />
								</div>
								<div class="col-md-2 air-name">
									{{t.flight.airline.name}}
									<!-- que lo centre magoya -->
								</div>

								<div class="col-md-1">
									<div class="flight-date depart-date">
									Dia {{t.flight.departMoment.day()}}
									</div>
									<div class="flight-time depart-time">
									Hora {{t.flight.departMoment}}
									</div>
								</div>
								<div class="col-md-1">
									<div class="airport-id depart-air">
									{{t.flight.departAirport.id}}
									</div>
								</div>

								<div class="col-md-1">
									<div class="glyphicon glyphicon-arrow-right">
									</div>
								</div>

								<div class="col-md-1">
									<div class="airport-id land-air">
									{{t.flight.arrivalAirport.id}}
									</div>
								</div>
								<div class="col-md-1">
									<div class="flight-date land-date">
									Dia {{t.flight.arrivalMoment.day()}}
									</div>
									<div class="flight-time land-time">
									Hora {{t.flight.arrivalMoment}}
									</div>
								</div>

								<div class="col-md-2">
									<div class="duration">{{t.flight.duration}}</div>
									<div class="fl-number">{{t.flight.flnumber}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 flight-price-box">
							<div class="price-number">
								{{c.precio}}
							</div>
							<div class="details-btn">
								<div class="collapse price-details">
									<div>Básico 7438</div>
									<div>Iva 21% 1562</div>
								</div>
								<button class="vda-text-btn">+ detalles</button>
							</div>
							<div class="buy-btn" data-ng-click="newCont()">
								<button class="vda-btn" id="btn-{{c.id}}">Comprar</button>
							</div>
					</div>
				</div>
			</div>
			<!-- 	</div> c in containers -->
