.title-style{
    background-color: #087CA7;
    color:#e3e3e3;;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    margin-bottom: 0px;

}

#form-row > div{
    display: table-row;
}


.sum-box{
    border-radius: 10px;
    background-color: ghostwhite;
    border-style: groove;
    line-height: 10px;
    margin-bottom: 40px;
    height: 100%;
}

.sum{
    height: 100%;
    background-color: #0F9E5E;
}
.form-tags{
    margin: 10px;
    display: inline-block;
}

.form-style{
    border-radius: 10px;
    background-color: ghostwhite;
    margin-bottom: 30px;
    border-style: groove;

}

.sub-style{
    background-color: lavender;
    border-radius: 10px;
    border-bottom: thick;
}

.tab-content{
    padding:5px
}

.nav-tabs{
    border-radius: 30px;
}

.nav-tabs > li > a{
    border: medium none;

}
.nav-tabs > li > a:hover{
    background-color: #9acfea !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

#birth-day,#birth-month,#birth-year,#exp-month,#exp-year{
    width: 70px;
}

#cardholder, #card-num{
    width: 600px;
}
.hidden{
    display: none;
}
#usr-name, #usr-lname, #cuil{
    width:300px
}

#birth-form{
    margin-left:auto;
}

#usr-docnum{
    width: 200px;
}

label {
    margin: 5px;
    text-align: left;
}

.glyphicon {
    margin-right: 0.3em;
}

.glyphicon-question-sign{
    font-size: medium;

}

.glyphicon.glyphicon-menu-right{
    font-size: xx-large;
    margin-bottom: 10px;

}
.glyphicon.glyphicon-menu-left{
    font-size: xx-large;
    margin-bottom: 10px;
}
.glyphicon.glyphicon-user{
    font-size: larger;
    margin-top: 20px;
}



