

input.tt-hint {
	display: none;
}

.openField {
	display: none;
}

.nav-tabs li {
	font-size: 1.3em;
	border: 0;
	border-radius: 4px;
}

.body-contents{
	background-color: white;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-style {
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
	background: cornflowerblue;
}

.title-style h3 {
	margin-left: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 1.9em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

.info-box {
	padding: 15px;
}

.info-box, .form-style {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid cornflowerblue;
}

.tab-row {
	box-shadow: 2px 2px 5px #a8a8a8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.resume-box {
	margin-bottom: 14px;
}

.psg-type-col {
	text-align: center;
}

.psg-type-col .psg-type {
	font-size: 1.3em;
	padding: 10px 0;
}

.page-title {
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
	color: #204DCC;
	font-size: 2.8em;
	font-weight: 500;
}

label {
	font-weight: bold;
	padding-left: 1px;
	cursor: text;
}

.direc-subtitle {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 12px;
	margin-left: 8px;
}

.sum-box {
	background-color: #FFFFFF;
	padding-bottom: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sum-field {
	text-align: justify;
	max-width: 100%;
	overflow-wrap: break-word;

}

.sum-passname{
	max-width: 100%;
	overflow-wrap: break-word;
}

.sum {
	height: 100%;
	background-color: #0F9E5E;
}

p.error-msg, #error-card, #error-internet-card {
	color: #a0003a;
	font-size: 0.9em;
	margin: 0;
	padding-left: 0.4em;
	padding-top: 0.2em;
	display: none;
	white-space: pre-line;
}

#error-internet-card:hover {
	text-decoration: underline;
}

#error-internet-card {
	cursor: pointer;
}

input.error-input {
	border: 1px solid #FF0000;
}

.confirmation-panel {
	padding: 0;
	border: 1px solid cornflowerblue;
}

.panel-group {
	margin-bottom: 0;
}

.form-tags {
	margin: 10px;
	display: inline-block;
}

.form-field {
	padding-bottom: 0.2em;
}

.upper-label {
	padding-top: 1em;
}

.tocenter-label{
	padding-top:2em;
	text-align: center;
}

.arrow-btn {
	margin-top: 10px;
	font-size: 1.3em;
	font-weight: 500;
	transition: all 0.3s;
	width: 100%;
	padding: 0.5em 1em !important;
}

.arrow-btn button:active {
	box-shadow: none;
	background-color: crimson;
}

.sub-style {
	background-color: #d8d8d8;
	padding: 0.8em;
	margin-bottom: 0.8em;
}

.sub-style h4 {
	margin: 0;
	margin-left: 16px;
}

.twitter-typeahead {
	display: inline !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: inherit;
	border: 0;
	cursor:default;
	color: #204DCC;

}.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background-color: inherit;
	border: 0;
	cursor:default !important;
}
/*
.nav-tabs > li > a{
border: medium none;
}
*/

/*
.nav-tabs > li > a:hover{
background-color: #9acfea !important;
border: medium none;
border-radius: 0;
color:#fff;
}
*/


.disabled-tab{
	
}

.disabled-input {

}

.panel-body {
	position: relative;
}

.confirmation-modify {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.birth-day,.birth-month,.birth-year,#exp-month,#exp-year, #sec-code{
	width: 70px !important;
}

.hidden{
	display: none;
}

.tab-fade {
	display: none;
}

.usr-name, .usr-lname {
	width: 81%;
}

#birth-form{
	margin-left:auto;
}

.usr-docnum{
	width: 200px;
}

.add-rem-button{
	background: transparent;
	border: thin;
	border-style: groove;
}

label {
	margin: 5px;
	text-align: left;
}

.glyphicon-question-sign{
	font-size: medium;
}

.glyphicon.glyphicon-menu-right{
	font-size: x-large;
}

.glyphicon.glyphicon-menu-left{
	font-size: x-large;
}

.glyphicon.glyphicon-time {
	cursor: default;
}

.psg-type .glyphicon.glyphicon-user{
	margin-right: 0.3em;
	cursor: default;
	font-size: larger;
	margin-top: 20px;
}

.glyphicon.glyphicon-plus-sign{
	font-size: medium;
	color: green;
}

.glyphicon.glyphicon-minus-sign{
	font-size: medium;
	color: red;
}

#modify-modal .modal-dialog{
	width: 66%;
	margin-top: 15%;
}

.depart-date, .land-date {
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
}

.depart-time, .land-time {
	font-size: 1.3em;
	color: #204DCC;
}

.details-info {
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 1px;
}
.city-info {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
}

.duration-col{
	text-align: center;
}

.duration{
	color: #DC0055;
	font-size: 1.3em;
	font-weight: 500;
}

.price-number{
	font-size: 2.5em;
	line-height: 1em;
	font-weight: 500;
	text-align: center;
}

.details{
	font-weight: 500;
	margin-top: 5px;
	text-align: center;
}

.box-row{
	padding: inherit;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.passenger-row {
	margin-bottom: 10px;
}

.arrow-icon {
	width: 35px;
}

div.error-msg{
	text-align: center;
	color: #333;
}

.error-img {
	height:200px;

}

.popover-title{
	text-align: center;
}

.popover {
	background: rgba( 235, 235, 235, 0.8);
	box-shadow: 1px 0px 15px #333;
}

.popover-content {
	text-align: center;
}

.phonebtn {
	padding-bottom: 1em;
	padding-top: 1em;
}
.buying-text {
	text-align: center;
	margin-top: -30px;
	margin-bottom: 30px;
}

.move-btn-row {
	margin-bottom: 20px;
}