.body-contents {
    background: url('../img/bg/beach.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.successfulPurchase, .failedPurchase{
    text-align: center;
    padding: 187px;
    margin: 60px;
    background: rgba( 235, 235, 235, 0.8);
    box-shadow: 1px 0px 15px #333;
}

.title-style{
    font-size: 2.15em;
    color: #204DCC;
    margin-bottom: 30px;
}