.body-contents{
	background: url('../img/bg/sunset.jpg') no-repeat;
	height: 100%;
	/*	background-attachment: fixed;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.titulo{
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
}

.search_t {
	background: #DC0055;
	color: #FFFFFF;
}

.promos {
/*	background: #204DCC;*/
}

.promos .titulo {
	color: #204DCC;
	font-size: 2.8em;
	font-weight: 500;
}

.searchcontent{
	margin-top: 9%;
}

.searchbox{
	background-color: rgba( 255, 255, 255, 0.8);
	margin-bottom: 100px;
	padding-bottom: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.formtitle{
	font-weight: bold;
	font-style: #5b5b5b;
	padding-left: 3px;
}

.disabled-dp .formtitle {
	color: #7b7b7b;
}

.content{
	display:hidden;
	padding-bottom: 20px;
	background: rgba( 255, 255, 255, 0.8);
	margin-top: 30px;
	border-radius: 2px;
	margin-bottom: 50px;
	text-align: center;
}


.form-control.inputerr{
	border: 1px solid #FF0000;
}

.formError{
	margin-top: -10px;
	padding-left: 5px;
	font-size:0.9em;
	color: #a0003a;
	position: absolute;
	display: none;
	padding-bottom: 15px;
}

.idavuelta {
	margin-top: 4px;
	margin-bottom: 4px;
}

.idavuelta button {
	background: none;
	outline: none;
	font-size: 1.2em;
	font-weight: 500;
	color: #333;
	margin-bottom: 8px;
	margin-top: 5px;
	margin-left: 20px;
}

.idavuelta button:hover {
	border-bottom: 4px solid #b7b7b7;
}

.selected-iv {
	border-bottom: 4px solid #DC0055 !important;
} 

.botonera{
	text-align: center;
	padding-top: 20px;
}

.botonera button{
	min-width: 150px;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 500;
	border-radius: 10px;
	padding: 1% 3%;
	margin-right: 1%;
	transition: all 0.3s;
}

.botonera .disabled {
	color: #b7b7b7;
}

.botonera .disabled:hover {
	background-color: #FFFFFF;
	cursor: default;
}

.botonera .btn-toggle {
	background-color: #204DCC;
	color: #FFFFFF;
}

.botonera .btn-toggle:hover {
	background-color: #204DCC;
}

.searchbut{
	margin-top: 20px;
	text-align: center;
}

.searchbut button {
	font-size: 1.1em;
	color: #FFFFFF;
	border: 1px solid #DC0055;
	background-color: #DC0055;
	box-shadow: 0 0 14px #8e8e8e;
	transition: all 0.3s;
	font-weight: 500;
	letter-spacing: 1px;
}

.searchbut button:hover {
	border: 1px solid #FFFFFF;
	background-color: #DC0055;
}

.searchbut button:active {
	box-shadow: none;
	background-color: crimson;
}

#psg-dropdown {
	margin-top: 10%;
}

.content h4 {
	font-weight: 400;
}