.searchbox{
	background: rgba( 235, 235, 235, 0.8);
	padding-bottom: 1em;
	box-shadow: 0 1px 15px #7B7B7B;
	border-radius: 5px;
}

.formtitle{
	font-weight: bold;
	color: #333;
	padding-left: 3px;
}

.disabled-dp .formtitle {
	color: #7b7b7b;
}


.disabled-dp {
	cursor: not-allowed !important;
}

.formError{
	margin-top: -10px;
	padding-left: 5px;
	font-size:0.9em;
	color: #a0003a;
	position: absolute;
	display: none;
	padding-bottom: 15px;
	line-height: 13px;
}

.idavuelta {
	margin-top: 4px;
	margin-bottom: 4px;
}

.idavuelta button {
	background: none;
	outline: none;
	font-size: 1.2em;
	font-weight: 500;
	color: #333;
	margin-bottom: 8px;
	margin-top: 5px;
	margin-left: 20px;
}

.idavuelta button:hover {
	border-bottom: 4px solid #b7b7b7;
}

.selected-iv {
	border-bottom: 4px solid #DC0055 !important;
}

#cal1, #cal2{
	cursor: pointer;
}

#origen, #destino {
	padding-left: 10px;
}

