

/* ==========================================================================
Author's custom styles
========================================================================== */
body{
	background: #dee0dd;
}

#header-nav{
	background: #087CA7;
	border-radius: 0;
	border:0;
	margin-bottom:0;
}

#logo-img{
	background: url('../img/logo.png') no-repeat;
	width: 300px;
	height: 60px;
}


#nav-list{
	text-align: center;
}

#nav-list a{
	height: 60px;
	padding-top: 20px;
	color: #e3e3e3;
	font-size: 1.2em;
	text-align: center;
}

#nav-list a:hover{
	color: #030303;
}

#nav-list li{
	height:60px;
}


.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active #nav-list li {
	background-color: #93bcff;
	color: white;
}

.body-contents{
	background: url('../img/bg/beach.jpg') no-repeat;
	background-size:cover;
}

/*
#nav-list li:hover{
color: #0c004c;
background: #97ebfc;
}*/

.navbar-toggle{
	margin-top: 15px;
}

.glyphicon{
	padding-right: 5px;
}


.titulo{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
}

.search_t{
	background: #4d91ff;
	color: #e6efff;
}

.promos{
	background: rgba(0, 103, 0, 0.8);
	color: #e6efff;
}


.searchcontent{
	margin-top: 50px;
}
.searchbox{
	/*background-color: #93bcff;*/
	background:  rgba(147, 188, 255, 0.9);

	/*	background: #ffffff;  */
	border: #93bcff 1px solid;
	margin-bottom: 100px; 
	padding-bottom: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.formtitle{
	font-weight: bold;
	font-style: #5b5b5b;
	font-size: 90%;
	padding-left: 3px;
}

.content{
	display:hidden;
	padding-bottom: 20px;
	background: url('../img/polka.jpg');
	background-repeat:  repeat;
	background:  rgba(0, 153, 0, 0.8); 
	margin-top: 30px;
	border-radius: 2px;
	margin-bottom: 50px;
}

.botonera{
	text-align: center;
	padding-top: 30px;
}

.botonera button{
	width: 200px;
	text-align: center;
	border-radius: 1px;
	padding: 10px;
}


.idavuelta{
	padding: 10px 10px;
}

.idavuelta div{
	border-radius: 5px;
	background: #004d99;
	font-weight: bold;
	color: #fff;
	/*background: #ccdfff;*/
}

.idavuelta div a{
	color: #ccf2ff;
	font-weight: bold;
}

footer{
	background: #1a1a00;
	color: #ffffff;
	border-top: 5px;
	border-color: #ffffff;
	padding-top:10px;
	line-height: 50px;
}

.panel { 
	margin: 0;
	padding: 5px;
}

.filter-area {
	margin: 8px;
}

.filter-area .panel {
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #d6d6d6;
}

.filter-area h2 {
	font-size: 1.5em;
	font-weight: 300;
	padding-left: 0.5em;
	margin-top: 0.2em;
}

.filter-area .panel h3 {
	margin-top: 0;
	text-align: left;
	font-size: 1em;
	font-weight: 400;
}

#price-slider {
	width: 90%;
	margin: auto;
}

.thin-search-box {
	border-style: solid;
	border-width: thin;
	border-color: #d6d6d6;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0;
}

.date-label {
	margin: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 10px;
}

.date-input-ida {
	margin-right: 0;
	padding-right: 0;
}

.date-input-vuelta {
	margin-left: 0;
	padding-left: 0;
}

.boton-pasajeros {
	margin-right: 2em;
}

.search-button-small {
	margin-top: 40px;
}

.depart-time-button {
	display: inline-block;
	width: 65px;
	height: 70px;
}

.depart-time-button img {
	height: 100%;
	width: 100%;
	border: 1px solid #9b9b9b;
}

.airport-filter-panel h4 {
	font-size: 1em;
	font-weight: 300;
} 

.cheap-flights-carousel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	height: 80px;
}

.left-carousel-arrow, .right-carousel-arrow {
	border: 2px solid #9b9b9b;
	border-radius: 5px;
	width: 80%;
	height: 80px;
}

.sort-options {
	margin-top: 5px;
	margin-bottom: 5px;
}

.boton-pasajeros .dropdown-menu {
	width: 100%;
	padding: 10px;
}

.passenger-row {
	padding: 0.5em;
}

.passenger-number {
	margin-right: 3px;
	margin-left: 3px;
}

#ok-btn {
	margin-top: 0.8em;
	margin-left: 60%;
}