body{
	background: #e7e7e7;
}

#header-nav{
	z-index: 9999;
	background: #FFFFFF;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #a5a5a5;
	margin-bottom:0;
}

#logo-img{
	background: url('../logo2.png') no-repeat;
	background-size: 190px 40px;
	background-position: center;
	width: 250px;
	height: 55px;
}


#nav-list{
	text-align: center;
}

#nav-list a{
	height: 60px;
	padding-top: 20px;
	color: #333;
	font-size: 1.2em;
	text-align: center;
}

#nav-list a:hover{
	color: #dc0055;
	background-color: #e2e2e2;
	transition: all 0.3s;
}

#nav-list li{
	height:60px;
}

/*
#nav-list li:hover{
color: #0c004c;
background: #97ebfc;
}*/

.navbar-toggle{
	margin-top: 15px;
}

.glyphicon{
	padding-right: 5px;
}

footer{
	background: #FFFFFF;
	color: #333;
	border-top: 5px;
	border-color: #ffffff;
	padding-top:10px;
	line-height: 50px;
}
