body{
	background: #e7e7e7;
}

#header-nav{
	z-index: 1;
	background: #204DCC;
	border-radius: 0;
	border: 0;
	margin-bottom:0;
}

#logo-img{
	background: url('../img/logowhite2.svg') no-repeat;
	background-size: 170px 35px;
	background-position: center;
	width: 250px;
	height: 55px;
}

#nav-list{
	text-align: center;
}

#nav-list a{
	height: 60px;
	padding: 20px 14px;
	color: #F7F7F7;
	font-size: 1.3em;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
/*	text-shadow: 0 0 1px #e3e3e3;*/
	text-shadow: 0 0 0;
}

#nav-list a:hover{
	color: #FFFFFF;
	background-color: #2e3bef;
	transition: all 0.3s;
}

#nav-list li{
	height:60px;
}

/*
#nav-list li:hover{
color: #0c004c;
background: #97ebfc;
}*/

.navbar-toggle{
	margin-top: 15px;
}

.glyphicon{
	padding-right: 5px;
}

footer{
	background: #FFFFFF;
	color: #333;
	border-top: 5px;
	border-color: #ffffff;
	padding-top:10px;
	line-height: 50px;
}
