.searchcontent{
	margin-top: 5%;
	box-shadow: 1px 0px 15px #333;
	margin-bottom: 11%;
}

.titulo{
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
}

.review-box {
	border-radius: 3px;
	box-shadow: 0 0 12px #a3a3a3;
	background: #FFFFFF;
	margin-bottom: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.search-reviews-box{
	margin-top: 10px;
}



.review_st{
	background: #DC0055;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
}

.review_t{
	margin-top: 3%;
	background: #e04380;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dddddd;
	color: #222;
}

.tab-content{
	display: none;
	background: #dddddd;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}


.ratings ul{
list-style: none;
}
