.searchcontent{
	margin-top: 5%;
	box-shadow: 1px 0px 15px #333;
	margin-bottom: 50px;
}

.titulo{
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
}

.review-box {
	border-radius: 3px;
	box-shadow: 0 0 12px #a3a3a3;
	background: #FFFFFF;
	margin-bottom: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.search-reviews-box{
	margin-top: 10px;
}

.comments{
	padding-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
}

.review_st{
	background: #DC0055;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
}

.review_t{
	margin-top: 3%;
	background: #e04380;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dddddd;
	color: #222;
}

.tab-content{
	display: none;
	background: #dddddd;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.revcont{
	margin: 10px;
}

.ratings ul{
padding-top: 10px;
list-style: none;
}

.ratetitulo {
	font-size: 1.2em;	
	padding-left: 30px;
}

.viewmore {
	padding-left: 40px;
}

.viewmore a{
	padding-left: 10px;	
}
.viewmore a:hover{
	text-decoration: none;
	font-weight: 600;
}

.ratings li{
	font-size: 1.1em;
	padding:3px;
	color: #ff0000;
}


.bubble
{
position: relative;
font-style: italic;
width: 90%;
margin-top: 15px;
padding: 15px;
background: #FFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #DC0055 solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 29px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #DC0055 transparent;
display: block;
width: 0;
z-index: 0;
top: -16px;
left: 29px;
}
