body{
	background-color: #cacaca;
}
.searchcontent{
	margin-top: 5%;
	box-shadow: 1px 0px 15px #333;
	margin-bottom: 50px;
}

.titulo{
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.review-box {
	background: #FFF;
	color: #333;
	padding: 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 0 8px #b3b3b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.search-reviews-box{
	margin-top: 10px;
	border-radius: 4px;

}

.comments{
	padding-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
}

.review_st{
	background: #DC0055;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;

}

.review_t{
	margin-top: 3%;
	background-color: cornflowerblue;
	color: #FFFFFF;
	padding-left: 10px;
	font-size: 2em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
}

.review-head{
	position:relative;
	height:10px;
	background: #204Dcc ;
}
.review-head:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-width: 0 0 35px 35px;
	border-style: solid;
	border-color: #204Dcc #cacaca;
	-webkit-box-shadow: 3px 1px 1px 0px  rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 1px 1px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 1px 1px 0px rgba(0,0,0,0.3) /* -1px 1px 1px rgba(0,0,0,0.2);
		*/
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dddddd;
	color: #222;
}

.tab-content{
	display: none;
	background: #dddddd;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.ratings ul{
	list-style: none;
}

.ratetitulo {
	font-size: 1.2em;
	text-align: center;
}

.revcont{ 
	padding: 8px 25px;
}

.avg-rating, .would-reccomend {
	font-size: 1.2em;
	font-weight: 400;
}

.ratings li{
	font-size: 1.1em;
	padding:3px;
}

.bubble
{
	position: relative;
	font-style: italic;
	width: 90%;
	margin-top: 25px;
	padding: 15px;
	background: #d0d0d0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #DC0055 solid 1px;
	box-shadow: 4px 3px 10px -3px #7d3d56;
}

.bubble:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #d0d0d0 transparent;
	background-color: #d0d0d0 transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 29px;
}

.bubble:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #DC0055 transparent;
	background-color: #d0d0d0 transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -16px;
	left: 29px;
}

.form-bubble{
	margin-left: 3%;
}
textarea {
	width: 100%;
	resize: none;
	background:#cacaca;
}

.stars{
	padding-left: 30px;
	font-weight: bold;
}
.star {
	font-size: x-large;
	width: 30px;
	display: inline-block;
	color: gray;
}
.star:last-child {
	margin-right: 0;
}
.star:before {
	content:'\2605';
}
.star.on {
	color: gold;
}
.star.half:after {
	content:'\2605';
	color: gold;
	position: absolute;
	margin-left: -20px;
	width: 10px;
	overflow: hidden;
}

#review-form{
	padding:0;
	background: #ea8fb2;
	border-radius: 3px;
}

.leave-review_t{
	padding-left: 10px;
	background: #e04380;
	color: #FFFFFF;
	font-size: 2em;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;

}

.category{
	text-align: center;
	font-weight: bold;
}

.slider-box{
	padding-bottom: 45px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.2em;
	color: #333;
	border-radius: 3px;}


.slider{
	margin:10px;
}

.fixed-reviewform{
	position:fixed;
	top:20px;
	width:33%;
}

.leave-review{
	padding: 20px;
	background-color: #fff;

}

.review-details{
	padding: 10px 25px 0 25px;
	margin-bottom: 50px;
}

.sendreview{
	right:40px;
	padding-bottom: 20px;
}
.sendreview button {
	font-size: 1.2em;
	margin-left: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #FFFFFF;
}

.sendreview button:hover {
	border-bottom: 1px solid #7b7b7b;
}


.star-rating{
	font-size:0;
	white-space:nowrap;
	display:inline-block;
	width:250px;
	height:50px;
	overflow:hidden;
	position:relative;
	background:
		url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
	background-size: contain;

}

.option-recommend.selected{
	font-weight: bold;
}

.option-recommend:hover{
	cursor:pointer;
}

.viewmore {
	text-align: right;
}

.see-more-btn {
	font-size: 1.1em;
	font-weight: 400;
	padding-right: 10px;
}

.see-more-btn:hover {
	font-size: 1.1em;
	font-weight: 400;
	color: #204DCC;
	text-decoration: none;
}

.leave-review-toggle{
	font-size: 1.5em;
	margin-top: 5px;
	margin-left: 10px;

}
.leave-review-toggle:hover{
	cursor:pointer;
	font-weight: bold;
	text-decoration: none;
}
