.retry-btn {
	font-size: 1.5em;
	padding: 1% 3%;
}

.no-gutters {
	padding: 0;
	margin: 0;
}

.filter-area {
	padding: 20px;
	margin-top: 5%;
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 0 8px #b3b3b3;
	padding-bottom: 100px;
}

.filter-area h2 {
	font-size: 1.5em;
	font-weight: 400;
	padding-left: 0.5em;
	margin-top: 0.2em;
}

.filter-box {
	padding-top: 4%;
	padding-bottom: 4%;
	border-top: 1px solid #dddddd;
}

.filter-name {
	font-size: 1.2em;
	font-weight: 600;
	text-align: left;
}

.dollar{
	font-size: 0.8em;
	padding-bottom: 5px;
}

.filter-section-name {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 1px;
	color: #204dcc;
}

.slider-box {
	padding-top: 5%;
	padding-bottom: 25%;
	padding-right: 10%;
	padding-left: 8%;
}

.price-filter {
	text-align: center;
}

.price-filter button {
	font-weight: 500;
	color: #204DCC;
	border: 1px solid #204DCC;
	padding: 2px 10px;
	border-radius: 15px;
	transition: all 0.4s;
}

.price-filter button:hover {
	background-color: rgba(32, 77, 204, 0.1);
}


label {
	margin-top: 1.5%;
	font-weight: 400;
	margin-left: 5px;
}

.depart-time-button {
	display: inline-block;
}

.depart-time-button:hover {
	cursor: pointer;
}

.depart-time-grid {
	text-align: center;
	margin-bottom: 2%;
	margin-top: 1%;
}

.depart-time-button img {
	max-height: 100%;
	max-width: 100%;
	border-top: 4px solid white;
	transition: all 0.2s;
}

.depart-time-button img:hover {
	/*	border-color: #204DCC;*/
	box-shadow: 0 0 3px #204DCC;
}

.selected-time {
	border-top: 4px solid #204DCC !important;
	box-sizing: border-box;
}

.order-by-menu {
	margin-top: 10px;
	margin-bottom: -10px;
}

.boton-pasajeros .dropdown-menu {
	width: 100%;
	padding: 10px;
}

.flight-box {
	margin-top: 3%;
	border-radius: 3px;
	box-shadow: 0 0 8px #b3b3b3;
	background: #FFFFFF;
	overflow: auto;
	transition: all 0.4s;
	overflow-x: hidden;
}

.flight-box:hover, .one-way-flight-box:hover {
	box-shadow: 0 0 8px #204DCC;
}

.oneway-flight-box {
	margin-top: 3%;
	border-radius: 3px;
	box-shadow: 0 0 8px #b3b3b3;
	background: #FFFFFF;
	overflow: auto;
	height: 9em;
}

.flight-info {
	background-color: #FFFFFF;
	border: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 0;
	height: 100%;
}

.airports-line-info {
	margin: 0;
	border: 0;
	border-top-left-radius: 3px;
	background: #D8D8D8;
	height: 3em;
}

.ida-vuelta-badge {
	margin-top: 1.2%;
	font-size: 1.2em;
	font-weight: 700;
	border-right: 1px solid #3a3a3a;
	text-align: center;
}

.orig-dest-badges {
	text-align: left;
	font-size: 1.2em;
	margin-top: 1.2%;
	font-weight: 700;
}

.airport-badge {
	text-align: center;
	margin: 0 5px;
	color: #FFFFFF;
	background-color: #333333;
	border-radius: 5px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 3px 6px;
}

.selected-box {
	border-radius: 3px;
	padding: 1%;
	margin: 1%;
	box-shadow: 0 0 8px #b3b3b3;
}

.selected-box .air-img img {
	max-width: 100%;
	margin-top: 10%;
}

.air-name-col {
	text-align: left;
	vertical-align: middle;
}

.air-name {
	font-size: 1.3em;
	font-weight: 500;
}

.date-col, .duration-col, .airports-col{
	text-align: center;
}

.depart-date, .land-date{
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
}

.depart-time, .land-time{
	font-size: 1.3em;
	color: #204DCC;
}

.vcenter {
	align-items: center;
	display: flex;
}

.passengers-menu button {
	font-size: 90%;
}

.airports-col .airport-id {
	border: 1px solid #204DCC;
	border-radius: 5px;
	font-size: 1.4em;
	color: #FFFFFF;
	background-color: #204DCC;
	padding: 5px 8px;
	text-align: center;
	margin-top: 3px;
}

.airports-col .airport-id:hover {
	cursor: default;
}

.airports-col img {
	max-width: 50%;
	margin-top: 0;
}

.duration {
	color: #DC0055;
	font-size: 1.2em;
	font-weight: 500;
}

.flight-price-box {
	background: #DC0055;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	padding: inherit;
}

/* Two Way flights */
.twoWay .price-number {
	padding-top: 40%;
	font-size: 2.5em;
	line-height: 1em;
	color: #FFFFFF;
	font-weight: 500;
}

.twoWay .details-btn,.twoWay .price-details {
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 5px;
}

.twoWay .buy-btn .vda-btn {
	margin-top: 10%;
	color: #000000;
	font-size: 1.3em;
	padding: 8px 16px;
	font-variant: small-caps;
	font-weight: 800;
}

.twoWay .buy-btn .vda-btn:hover {
	transition: all 0.4s;
	box-shadow: 0 0 8px #b3b3b3;
}

/* One Way flights */
.oneWay .price-number {
	margin-top: 15%;
	font-size: 2em;
	line-height: 1em;
	color: #FFFFFF;
	font-weight: 500;
}

.oneWay .details-btn,.oneWay .price-details {
	color: #FFFFFF;
	font-weight: 500;
}

.oneWay .buy-btn .vda-btn {
	margin-top: 1%;
	color: #000000;
	font-size: 1.3em;
	padding: 8px 16px;
	font-variant: small-caps;
	font-weight: 800;
	margin-bottom: 8%;
}

.oneWay .buy-btn .vda-btn:hover {
	transition: all 0.4s;
	box-shadow: 0 0 8px #b3b3b3;
}

.emptyresults, .emptyfiltered {
	text-align: center;
	color: #5b5b5b;
	margin: 50px;
}
.emptyresults h2, .emptyfiltered h2 {
	font-weight: 300;
}

.emptyresults img, .emptyfiltered img {
	height: 200px;
}

.greyout{
	filter:alpha(opacity=40); /* IE */
	opacity: 0.4; /* Safari, Opera */
	-moz-opacity:0.40; /* FireFox */
	z-index: 20;
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
}

.greyout button:hover {
	background-color: #fff;
}

.hidden{
	display: none;
}

body {
	margin: 0;
	height:100% !important;
}

footer {
	background-color: #e7e7e7;
}

#left {
	margin-top: 4em;
	height:100%;
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	width: 25%;
	overflow-y: scroll;
	padding-bottom: 3em;
}

#left::-webkit-scrollbar { 
	/*	width: 10px !important; */
}

#right {
	margin-top: 4em;
	height:100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 75%;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}