.panel {
	margin: 0;
	padding: 5px;
}

.filter-area {
	margin: 8px;
	margin-left: 1.5%;
	position: fixed;
}

.filter-area .panel {
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #d6d6d6;
}

.filter-area h2 {
	font-size: 1.5em;
	font-weight: 300;
	padding-left: 0.5em;
	margin-top: 0.2em;
}

.filter-area .panel h3 {
	margin-top: 0;
	text-align: left;
	font-size: 1em;
	font-weight: 400;
}

#price-slider {
	width: 90%;
	margin: auto;
}

.thin-search-box {
	border-style: solid;
	border-width: thin;
	border-color: #d6d6d6;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0;
}

.date-label {
	margin: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 10px;
}

.date-input-ida {
	margin-right: 0;
	padding-right: 0;
}

.date-input-vuelta {
	margin-left: 0;
	padding-left: 0;
}

.boton-pasajeros {
	margin-right: 2em;
}

.search-button-small {
	margin-top: 40px;
}

.depart-time-button {
	display: inline-block;
	width: 65px;
	height: 70px;
}

.depart-time-grid {
	text-align:center;
	padding-bottom: 0.5em;
}

.depart-time-button img {
	max-height: 100%;
	max-width: 100%;
	border-top: 4px solid white;
}

.selected-time {
	border-top: 4px solid #204DCC !important;
	box-sizing: border-box;
}

.airport-filter-panel h4 {
	font-size: 1em;
	font-weight: 300;
}

.sort-options {
	margin-top: 5px;
	margin-bottom: 5px;
}

.boton-pasajeros .dropdown-menu {
	width: 100%;
	padding: 10px;
}

.passenger-row {
	padding: 0.5em;
}

.passenger-number {
	margin-right: 3px;
	margin-left: 3px;
}

#ok-btn {
	margin-top: 0.8em;
	margin-left: 60%;
}

.flight-box {
	margin-top: 3%;
	border-radius: 5px;
  box-shadow: -5px -5px 10px #b3b3b3;
	background: #FFFFFF;
	overflow: auto;
}

.flight-info {
	background-color: #FFFFFF;
	border: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 0;
	height: 100%;
}

.airports-line-info {
	margin: 0;
	border: 0;
	border-top-left-radius: 5px;
	background: #D8D8D8;
	height: 3em;
}

.ida-vuelta-badge {
	margin-top: 1.2%;
	font-size: 1.2em;
	font-weight: 700;
	border-right: 1px solid #3a3a3a;
	text-align: center;
}

.orig-dest-badges {
	text-align: left;
	font-size: 1.2em;
	margin-top: 1.2%;
	font-weight: 700;
}

.airport-badge {
	text-align: center;
	margin: 0 5px;
	color: #FFFFFF;
	background-color: #333333;
	border-radius: 5px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 3px 6px;
}

.selected-box {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1%;
	margin: 1%;
	margin-bottom: 0;
}

.selected-box .airline-info-box .air-name{
	height: 100%;
}

.selected-box .air-img img {
	max-width: 100%;
	margin-top: 10%;
}

.selected-box .air-name h1 {
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;

}

.selected-box .flight-point-info {
	text-align: center;
	margin: 0;
	padding: 0;
}

.selected-box .airport-id {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1em;
}

.selected-box .flight-date {
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
}

.selected-box .duration {
	text-align: center;
	color: #204DCC;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1em;
}

.selected-box .fl-number {
	text-align: center;
	font-weight: 300;
}

.unselected-box {
	margin-right: 1%;
	margin-left: 1%;
}

.unselected-item {
	border-bottom: 1px solid #7e7e7e;
	cursor: pointer;
	background-color: #FFFFFF;
}

.unselected-item:hover {
	background-color: #e6e6e6;
	transition: all 0.3s;
}

.unselected-box .airline-info-box .air-name{
	height: 100%;
}

.unselected-box img {
	display: none;
}

.unselected-box .air-name h1 {
	margin: 0;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

.unselected-box .flight-point-info {
	text-align: center;
	margin: 0;
	padding: 0;
}

.unselected-box .airport-id {
	font-size: 1em;
	font-weight: 700;
}

.unselected-box .flight-date {
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
}

.unselected-box .duration {
	text-align: center;
	color: #204DCC;
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
}

.unselected-box .fl-number {
	display: none;
}

.flight-price-box {
	min-height: 25em;
	background: #DC0055;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.options-btn button {
	width: 100%;
	border: 1px solid #204DCC;
	background-color: #FFFFFF;
	color: #204DCC;
	font-size: 1.1em;
	padding: 0.8%;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 0.3s;
}

.options-btn button:hover{
	background-color: #204DCC;
	color: #FFFFFF;
	transition: all 0.3s;
}

.price-number {
	padding-top: 50%;
	font-size: 2.5em;
	line-height: 1em;
	color: #FFFFFF;
	font-weight: 500;
}

.details-btn {
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 5px;
}

/* lo podemos usar en general */
.vda-btn {
	font-weight: 600;
	background-color: white;
	border: 1px solid #9d9d9d;
	border-radius: 5px;
	padding: 0.7em 1.2em;
}

.vda-text-btn {
	padding: 0;
	border: 0;
	background: none;
}

.vda-btn-small {
	padding: 0.3em 0.6em;
	font-size: 1em;
}

.vda-btn:hover {
	background-color: #dddddd;
}

.buy-btn .vda-btn {
	margin-top: 10%;
	color: #000000;
}

button:focus {
	outline: 0;
}
