.no-gutters {
	padding: 0;
	margin: 0;
}

.search-row {
	margin-top: 20px;
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 0 8px #b3b3b3;
}

.arrow-col {
	text-align: center;
	margin-left: -20px;
	margin-right: -20px;
	padding: 7px 0;
}

.form-group {
	margin-bottom: 15px;
}

.form-control.inputerr{
	border: 1px solid #FF0000;
}

#orig-col, #dest-col, #date-col-1, #date-col-2 {
	position: relative;
}

.disabled-dp {
	cursor: not-allowed !important;
}

.formError {
    position: absolute;
    color: #FFF;
    top: 40px;
    /* margin-left: 5px; */
    font-size: 0.9em;
    display: none;
    z-index: 9999;
    text-align: center;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #d9534f;
/*	background-color: #FFF;*/
	border: 1px solid #d9534f;
}

.idavuelta button {
	font-size: 1.2em;
	margin-left: 20px;
	margin-bottom: 3px;
	border-top: 3px solid #FFFFFF;
}

.idavuelta button:hover {
	border-top: 3px solid #7b7b7b;
}

.selected-iv {
	color: #204DCC !important;
	border-top: 3px solid #204DCC !important;
}

.modify-search-btn button {
	font-size: 1.1em;
	color: #FFFFFF;
	border: 1px solid #204DCC;
	background-color: #204DCC;
	margin-top: 20px;
	margin-left: -10px;
	transition: all 0.3s;
	font-weight: 400;
}

.modify-search-btn button:hover {
	border: 1px solid #FFFFFF;
	background-color: #2d5be3;
}

.psg-dropdown {
	padding: 0.45em 1.2em !important;
} 

#orig-col {
	margin-left: 50px;
	padding: 0;
}

#dest-col {
	margin-right: 30px;
}

.passengers-col {
	padding-right: 0;
}

.date .glyphicon {
	padding: 0;
}

.date .input-group-addon {
	padding: 5px;
}