<!doctype html>
<head>
	<meta charset="utf-8">
	<title>VolaDeAca - Búsqueda</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="jqueryui/jquery-ui.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/hover.css" media="all">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/search.css">
	<link rel="stylesheet" href="css/buttons.css">
	<link rel="stylesheet" href="css/nouislider-custom.css">

	<script src="angular.min.js"></script>


	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

	<script src="angular.min.js"></script>

</head>

<body data-ng-app="flightApp" ng-controller="flightCtrl">
	<header>
		<div data-ng-include="'./snippets/nav.html'"></div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class ="col-md-3">
				<div class="filter-area">
					<h2> Filtros </h2>
					<div class="price-filter filter-box">
						<div class="filter-name"> Precio</div>
						<div class="slider-box">
							<div id="price-slider"> 
							</div>
						</div>
						<button id="restart-price-btn" class="vda-text-btn">
							Reestablecer
						</button>
					</div>

					<div class="time-filter filter-box">
						<div class="filter-name"> Horarios</div>

						<div class="filter-section-name">Despegue Ida</div>
						<div class="depart-time-grid">
							<div class="depart-time-button" >
								<img src="madru.png" data-dep-time="0"/>
							</div>
							<div class="depart-time-button">
								<img src="mania.png" data-dep-time="1"/>
							</div>
							<div class="depart-time-button" >
								<img src="tarde.png" data-dep-time="2"/>
							</div>
							<div class="depart-time-button" >
								<img src="noche.png" data-dep-time="3"/>
							</div>
						</div>

						<div class="filter-section-name">Despegue Vuelta</div>
						<div class="depart-time-grid">

							<div class="depart-time-button" >
								<img src="madru.png" data-dep-time="4"/>
							</div>
							<div class="depart-time-button">
								<img src="mania.png" data-dep-time="5"/>
							</div>
							<div class="depart-time-button" >
								<img src="tarde.png" data-dep-time="6"/>
							</div>
							<div class="depart-time-button" >
								<img src="noche.png" data-dep-time="7"/>
							</div>
						</div>
					</div>

					<div class="airport-filter filter-box">
						<div class="filter-name">Aeropuertos</div>
						<div class="filter-section-name">Origen</div>
						<input type="checkbox" id="aer-o-cbox1">
						<label for="aer-o-cbox1">Aeropuerto 1</label>
						<br/>
						<input type="checkbox" id="aer-o-cbox2"> <label for="aer-o-cbox2">Aeropuerto 2</label>
						<br/>
						<input type="checkbox" id="aer-o-cbox3">
						<label for="aer-o-cbox3">Aeropuerto 3</label>
						<div class="filter-section-name">Destino</div>
						<input type="checkbox" id="aer-d-cbox1">
						<label for="aer-d-cbox1">Aeropuerto 1</label>
						<br/>
						<input type="checkbox" id="aer-d-cbox2"> <label for="aer-d-cbox2">Aeropuerto 2</label>
						<br/>
						<input type="checkbox" id="aer-d-cbox3">
						<label for="aer-d-cbox3">Aeropuerto 3</label>
					</div>

					<div class="airline-filter filter-box">
						<div class="filter-name"> Aerolíneas</div>
						<input type="checkbox" id="airl-cbox1">
						<label for="airl-cbox1">Aerolínea 1</label>
						<br/>
						<input type="checkbox" id="airl-cbox2"> <label for="airl-cbox2">Aerolínea 2</label>
						<br/>
						<input type="checkbox" id="airl-cbox3">
						<label for="airl-cbox3">Aerolínea 3</label>
					</div>
				</div>
			</div>

			<div class="col-md-9">

				<!-- Pasajeros -->
				<div class="btn-group boton-pasajeros">
					<button type="button" id="psg-dropdown" class="btn btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="false">
						Pasajeros <span class="caret"></span>
					</button>
					<div class="dropdown-menu">
						<div  class="row passenger-row" id="adult-select">
							<div class="col-md-5">
								<strong>Adultos</strong>
							</div>
							<div class="col-md-7">
								<button type="button" data-sum="minus" class="btn btn-default btn-xs">-</button>
								<strong class="passenger-number" id="adult-number">0</strong>
								<button type="button" data-sum="plus" class="btn btn-default btn-xs">+</button>
							</div>
						</div>
						<div class="row passenger-row" id="child-select">
							<div class="col-md-5">
								<strong>Niños</strong>
							</div>
							<div class="col-md-7">
								<button type="button" data-sum="minus" class="btn btn-default btn-xs">-</button>
								<strong class="passenger-number" id="child-number">0</strong>
								<button type="button" data-sum="plus" class="btn btn-default btn-xs">+</button>
							</div>
						</div>
						<div class="row passenger-row" id="infant-select">
							<div class="col-md-5">
								<strong>Infantes</strong>
							</div>
							<div class="col-md-7">
								<button type="button" data-sum="minus" class="btn btn-default btn-xs">-</button>
								<strong class="passenger-number" id="infant-number">0</strong>
								<button type="button" data-sum="plus" class="btn btn-default btn-xs">+</button>
							</div>
						</div>
						<div class="row">
							<button type="button" id="ok-btn" class="btn btn-default btn-s">OK</button>
						</div>
					</div>
				</div>
				<!-- fin pasajeros -->

				<!-- carousel vuelos baratos -->
				<div class="row results-carousel">
					<div class="col-md-1">
						<button type="button" id="left-car-btn" class="vda-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
					</div>
					<div class="col-md-2">
						<div class="carousel-flight">
							<div class="air-name">
								Aerolínea 1
							</div>
							<div class="fl-price">
								$20
							</div>					
						</div>
					</div>
					<div class="col-md-2">
						<div class="carousel-flight">
							<div class="air-name">
								Aerolínea 2
							</div>
							<div class="fl-price">
								$50
							</div>					
						</div>
					</div>
					<div class="col-md-2">
						<div class="carousel-flight">
							<div class="air-name">
								Aerolínea 3
							</div>
							<div class="fl-price">
								$80
							</div>					
						</div>
					</div>
					<div class="col-md-2">
						<div class="carousel-flight">
							<div class="air-name">
								Aerolínea 4
							</div>
							<div class="fl-price">
								$14
							</div>					
						</div>
					</div>
					<div class="col-md-2">
						<div class="carousel-flight">
							<div class="air-name">
								Aerolínea 5
							</div>
							<div class="fl-price">
								$10
							</div>					
						</div>
					</div>
					<div class="col-md-1">
						<button type="button" id="right-car-btn" class="vda-btn"><span class="glyphicon glyphicon-chevron-right"></span></button>
					</div>
				</div>
				<!-- fin carousel -->

				<!-- tabla +/- 3 dias -->
				<div class="collapse" id="3daytable">
					HOLA!
					<table class="table table-bordered">
					</table>
				</div>
				<div class="row three-day-row">
					<div class="col-md-10 col-md-offset-1">
						<button type="button" class="vda-btn" data-toggle="collapse" data-target="#3daytable" aria-expanded="false" aria-controls="3daytable">+/- 3 días <span class="caret"></span></button>
					</div>
				</div>
				<!-- fin +/- 3 días -->

				<div class="row sort-options">
					<div class="col-md-3">
						<div class="order-by-menu">
							<label for="orderby-btn">Ordenar por:</label>
							<span class="btn-group">
								<button id="orderby-btn" class="vda-btn vda-btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Menor precio<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" id="order-dropdown">
									<li><a href="#">Menor Precio</a></li>
									<li><a href="#">Menor Duración</a></li>
									<li><a href="#">Mejor Puntaje</a></li>
								</ul>
							</span>
						</div>
					</div>
					<div class="col-md-2 col-md-offset-7">
						<div class="currency-menu">
							<label for="currecy-btn">Moneda:</label>
							<span class="btn-group">
								<button id="currency-btn" class="vda-btn vda-btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									ARS<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" id="currency-dropdown">
									<li><a href="#">ARS</a></li>
									<li><a href="#">USD</a></li>
									<li><a href="#">EUR</a></li>
									<li><a href="#">REA</a></li>
								</ul>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-12 flight-options-area">
				<!-- <div data-ng-repeat="c in containers"> -->
					<div class="row flight-box" data-ng-repeat="c in containers">
						<div class="col-md-10 flight-info">
						<div data-ng-repeat="f in c.tramos">
							<div class="row airports-line-info">
								<div class="col-md-2 ida-vuelta-badge">
									{{f.desc}} <span class="glyphicon glyphicon-arrow-right"></span>
								</div>
								<div class="col-md-10 orig-dest-badges">
									Buenos Aires
									<span class="airport-badge">{{f.departAirport}}</span>
									<span class="glyphicon glyphicon-arrow-right"></span>
									<span class="airport-badge">{{f.arrivalAirport}}</span>
									Nueva York
								</div>
							</div>

							<div class="row selected-box" id="selected-ida-{{f.flnumber}}">
								<div class="col-md-1 air-img">
									<img src="aircanada.png">
								</div>
								<div class="col-md-2 air-name">
									{{f.airlineName}}
									<!-- que lo centre magoya -->
								</div>

								<div class="col-md-1">
									<div class="flight-date depart-date">
									{{f.departDate}}
									</div>
									<div class="flight-time depart-time">
									{{f.departTime}}
									</div>
								</div>
								<div class="col-md-1">
									<div class="airport-id depart-air">
									{{f.departAirport}}
									</div>
								</div>

								<div class="col-md-1">
									<div class="glyphicon glyphicon-arrow-right">
									</div>
								</div>

								<div class="col-md-1">
									<div class="airport-id land-air">
									{{f.arrivalAirport}}
									</div>
								</div>
								<div class="col-md-1">
									<div class="flight-date land-date">
									{{f.arrivalDate}}
									</div>
									<div class="flight-time land-time">
									{{f.arrivalTime}}
									</div>
								</div>

								<div class="col-md-2">
									<div class="duration">{{f.duration}}</div>
									<div class="fl-number">{{f.flnumber}}</div>
								</div>
							</div>


							<div class="row options-btn" id="options-ida">
								<div class="col-md-8 col-md-offset-2">
									<button class="vda-btn">Ver mas opciones para el mismo precio  <span class="glyphicon glyphicon-chevron-down"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 flight-price-box">
							<div class="price-number">
								{{c.precio}}
							</div>
							<div class="details-btn">
								<div class="collapse price-details">
									<div>Básico 7438</div>
									<div>Iva 21% 1562</div>
								</div>
								<button class="vda-text-btn">+ detalles</button>
							</div>
							<div class="buy-btn">
								<button class="vda-btn" id="btn-{{c.id}}">Comprar</button>
							</div>
						</div>
				</div>
			<!-- 	</div> c in containers -->
			</div>
			</div>
		</div>
	</div>

	<script src="ngsearch.js">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/moment.js" ></script>
	<script src="jqueryui/jquery-ui.js"></script>
	<script src="jqueryui/uidatepicker-es.js"></script>
	<script src="wNumb.js"></script>
	<script src="nouislider.min.js"></script>
	<script src="datepicker.js"></script>
	<script src="search-page-script.js"></script>
	<script src="flight-select.js"></script>
	<script>
</script>
</body>
