.panel { 
	margin: 0;
	padding: 5px;
}

.filter-area {
	margin: 8px;
}

.filter-area .panel {
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #d6d6d6;
}

.filter-area h2 {
	font-size: 1.5em;
	font-weight: 300;
	padding-left: 0.5em;
	margin-top: 0.2em;
}

.filter-area .panel h3 {
	margin-top: 0;
	text-align: left;
	font-size: 1em;
	font-weight: 400;
}

#price-slider {
	width: 90%;
	margin: auto;
}

.thin-search-box {
	border-style: solid;
	border-width: thin;
	border-color: #d6d6d6;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0;
}

.date-label {
	margin: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 10px;
}

.date-input-ida {
	margin-right: 0;
	padding-right: 0;
}

.date-input-vuelta {
	margin-left: 0;
	padding-left: 0;
}

.boton-pasajeros {
	margin-right: 2em;
}

.search-button-small {
	margin-top: 40px;
}

.depart-time-button {
	display: inline-block;
	width: 65px;
	height: 70px;
}

.depart-time-button img {
	height: 100%;
	width: 100%;
	border: 1px solid #9b9b9b;
}

.airport-filter-panel h4 {
	font-size: 1em;
	font-weight: 300;
} 

.cheap-flights-carousel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	height: 80px;
}

.left-carousel-arrow, .right-carousel-arrow {
	border: 2px solid #9b9b9b;
	border-radius: 5px;
	width: 80%;
	height: 80px;
}

.sort-options {
	margin-top: 5px;
	margin-bottom: 5px;
}
