<div class="emptyresults">
	<div data-ng-if="!paramError" class="no-results">
		<div class="error-img">
			<img src="img/notfound.png">
		</div>
		<h1>No encontramos vuelos para tu búsqueda</h1>
		<h2>Probá otra búsqueda en el cuadro superior o <a href="./index.html">volviendo a la página de inicio</a></h2>
	</div>
	<div data-ng-if="paramError" class="error-msg">
		<div class="error-img">
			<img src="img/PlaneCrash.png">
		</div>
		<h1>Se produjo un error al procesar la búsqueda</h1>
		<h2>Probá otra búsqueda en el cuadro superior o <a href="./index.html">volviendo a la página de inicio</a></h2>
	</div>
</div>