<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Reseñas - VoláDeAcá</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/buttons.css">
		<link rel="stylesheet" href="css/reviews.css">
		<link rel="stylesheet" href="./CheloLabs/awesomplete.css">
		<link rel="stylesheet" href="css/angular-animations.css">
		<link rel="stylesheet" href="css/nouislider-reviews.css">
		<link rel="stylesheet" href="css/nouislider.pips.css">
		<link rel="stylesheet" href="css/spinner.css">
		<link rel="stylesheet" href="css/psg-btn.css">
		<link rel="icon" href="img/icon.png" sizes="16x16 32x32" type="image/png">


		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<script src="extlib/angular.min.js"></script>

		<!--     <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script> -->

	</head>
	<body data-ng-app="reviewsApp" data-ng-controller="reviewsCtrl">
	<div id="wrapper">
		<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to impove your experience.</p>
<![endif]-->
		<noscript>
			<link rel="stylesheet" href="css/error-nojs.css"/>
			<div class="no-js-content">
				<h4>¡Alerta! JavaScript desactivado</h4> Esta página utiliza JavaScript para funcionar. Actualiza tu navegador o consulta <a href="https://www.google.com.ar/search?q=cómo+habilitar+javascript" target="_blank" >cómo habilitar javascript</a>
			</div>
		</noscript>

		<header>
			<div data-ng-include="'./snippets/nav.html'"></div>
		</header>

		<div class="contents">
			<div class="container">

				<div data-ng-if="!flightSelected">
					<div class="row searchcontent">
						<div class="search-reviews-box">
							<div class="row">
								<div class="col-md-12 center-col">
									<div class="review_st">Buscar reseñas</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 ">
									<ul class="tabs center-col">
										<li class="tab-link current" data-tab="tab-1" data-ng-click="toggleToAero()" id="aerotab"><strong>Por aerolinea</strong></li>
										<li class="tab-link" data-tab="tab-2" data-ng-click="toggleToFNum()" id="vuelotab"><strong>Por número de vuelo</strong></li>
									</ul>

									<div id="aerobox" class="tab-content current col-md-6 col-md-offset-3">
										<div class="form-group">
											<input type="text" data-my-enter="yes" class="form-control awesomplete" data-review-autocomplete="true" id="input-aerolinea" placeholder="Nombre de Aerolínea"/>
											<div id="aerolinea-err" class="formError"></div>
										</div>
									</div>
									<div id="vuelobox" class="tab-content col-md-6 col-md-offset-3">
										<div class="form-group">
											<input type="text" data-my-enter="yes" data-ng-model="flightNum" class="form-control" placeholder="# de Vuelo" id="nroVuelo" maxlength="4"/>
											<div id="nroVuelo-err" class="formError"></div>

										</div>
									</div>
								</div>

							</div> <!-- searchbox -->

							<div class="row">
								<div class="col-md-4 col-md-offset-4 search-col center-col">
									<button type="button" class="vda-btn" id="searchButton" aria-label="Buscar" data-ng-click="search()">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span> BUSCAR RESEÑAS
									</button>
								</div>
							</div>
						</div> 
					</div>
				</div> 

				<div class="row review-btn-row">
					<div data-ng-if="flightSelected" class="ng-cloak">
						<div class="row title-row">
							<div class="center-col col-md-12">
								<h3>Reseñas del vuelo {{getSelectedFlightName()}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3 back-btn">
						<div data-ng-if="flightSelected" class="ng-cloak">
							<button class="vda-btn" data-ng-click="deselectFlight()"><span class="glyphicon glyphicon-chevron-left"></span>Volver a la búsqueda</button>
						</div>
					</div>
					<div class="col-md-6 center-col">
						<button type="button" class="vda-btn leave-review-btn" data-toggle="modal" data-target="#leaveReviewModal">
							<span data-ng-if="!flightSelected">Dejar una reseña</span>
							<span data-ng-if="flightSelected" class="ng-cloak">Dejar una reseña para este vuelo</span>
						</button>
						<div data-ng-include="'./snippets/leave-review.html'">
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid" id="reviewRes">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div data-ng-if="!flightSelected">
							<div data-ng-include="'./snippets/reviewsearch.html'">
							</div>
						</div>

						<div data-ng-if="flightSelected">
							<div data-ng-include="'./snippets/individualreviews2.html'">
							</div>
						</div>

						<div data-ng-if="emptySearch"
								 data-ng-include="'./snippets/emptyreviewsearch.html'">
						</div>

						<div data-ng-if="noConnection" data-ng-include="'./snippets/noconnection.html'">
						</div>

					</div>
				</div>
			</div>
		</div>



		<footer>  
			<div class="container">
				<div class="row">
					<p>&copy; VolaDeAca 2016</p>
				</div> <!-- row -->
			</div>
		</footer>

	</div>
		<script src="js/vendor/jquery-1.11.2.min.js"></script>
		<script src="js/angular-animate.js"></script>

		<script src="bootstrap.min.js"></script>
		<script src="js/resenas.js"></script>
		<script src="CheloLabs/awesomplete.js"></script> 
		<script src="CheloLabs/acomplete.js"></script>
		<script src="js/ng-infinite-scroll.js"></script>
		<script src="js/reviewsApp.js"></script>
		<script src="extlib/nouislider.min.js"></script>
		<script src="extlib/wNumb.js"></script>

	</body>
</html>