.vda-btn {
	font-weight: 600;
	background-color: white;
	border: 1px solid #9d9d9d;
	border-radius: 5px;
	padding: 0.7em 1.2em;
}

.vda-text-btn {
	padding: 0;
	border: 0;
	background: none;
}

.vda-btn-small {
	padding: 0.3em 0.6em;
	font-size: 1em;
}

.vda-btn:hover {
	background-color: #dddddd;
}

button:focus {
	outline: 0;
}