.body-contents {
	background: url('../img/bg/wing.jpeg') no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.titulo{
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	margin-bottom: 5PX;
}

.subtitulo h4{
	font-weight: 400;
}

.search_t {
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
	color: #DC0055;
}

.searchcontent{
	margin-top: 11%;
	margin-bottom: 11%;
}

.searchbut{
	margin-top: 20px;
	text-align: center;
}

.searchbut button {
	font-size: 1.1em;
	color: #FFFFFF;
	border: 1px solid #DC0055;
	background-color: #DC0055;
	box-shadow: 0 0 14px #8e8e8e;
	transition: all 0.3s;
	font-weight: 500;
	letter-spacing: 1px;
}

.searchbut button:hover {
	border: 1px solid #FFFFFF;
	background-color: #DC0055;
}

.searchbut button:active {
	box-shadow: none;
	background-color: crimson;
}

.psg-dropdown {
	margin-top: 10%;
}

#nav-home a:hover{
	color: #dc0055;
	background-color: #fff;
	cursor: default;

}

#nav-home a{
	background-color: #fff;
	cursor: default;
	color: #dc0055;
	font-weight: bold;
}
