#map {
	padding: 0;
	height: 600px;
	width: 100%;
	text-align: center;
}


#maploading, #maperror {
	position: absolute;
	padding: 3%;
	width: 30%;
	height: 200px;
	text-align: center;
	z-index: 100;
	background: rgba(255,255,255,0.8);
	margin: 4% 30% 0 30%;
	border-radius: 5px;
}

#maploading h3{
	color: #204DCC;
}

.mapbox h4 {
	color: #204DCC;
}

#mapspin{
	visibility: visible;
	z-index: 100;
	margin-top: 5px;
}

#mapform, #calendar{
	padding: 30px;
}

#update-map-btn{
	padding-top: 65px;
	margin-left: -10%;
}

#search{
	background: #DC0055;
	color: #fff;
}

#search.disabled{
	background: #8A8486;
	opacity: 0.7;
	cursor: progress;
}

#inputCity{
	width: 80%;
}

#datepicker{
	width: 60%;
}



#calendar{
	margin-left: -100px;
	display: inline-block;

}

input{
	font-size: 1.3em;
}

.mapcontent{
	margin-top: 50px;
}

.mapbox{
	background: rgba( 235, 235, 235, 0.8);
	padding-bottom: 1em;
	box-shadow: 0 1px 15px #7B7B7B;
	border-radius: 5px;
	margin-bottom: 2%; 
	padding-bottom: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.promo_t {
	font-size: 2.5em;
	font-weight: 500;
	text-align: left;
	color: #DC0055;
}

.titulo {
	font-size: 2em;
	padding: 0.1em 0 0.1em 0.5em;
	margin-bottom: 5PX;
}

.body-contents-promo{
	background: url('../img/bg/londonA6.jpg') no-repeat;
	background-size:cover;
}

.formError{
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 5px;
	font-size:0.9em;
	color: #a0003a;
	position: absolute;
	display: none;
	padding-bottom: 15px;
	line-height: 13px;
}

.inputerr{
	border: 1px solid #FF0000 !important;
}

.iw-title{
	font-size: 1.20em;
	color: cornflowerblue;
}


#nav-promo a{
	background-color: #fff;
	cursor: default;
	color: #dc0055;
	font-weight: bold;
}

#nav-promo a:hover{
	color: #dc0055;
	background-color: #fff;
	cursor: default;

}

.hidden{
	display:none;
}